<%- include('../partials/head', {title: '404: Page Not Found'}) %>
<link href="https://fonts.googleapis.com/css2?family=Notable&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./css/fourOhFour.css">
<body>
  <h1>This is not the page you are looking for</h1>
</body>
